@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grid-gradient-start: hsla(0, 0%, 90%, 0.98);
  --grid-gradient-end: hsla(0, 0%, 90%, 0.8);
  --grid-line-color: #555;
  --grid-bg-color: #f2f2f2;
  --border-start: #bfbfbf;
  --border-end: #8c8c8c;
  --overflow-scroll-color: #f2f2f2;
}

[data-theme='dark'] {
  --grid-gradient-start: hsla(0, 0%, 7%, 0.94);
  --grid-gradient-end: hsla(0, 0%, 7%, 0.8);
  --grid-line-color: #bbb;
  --grid-bg-color: #111;
  --border-start: #555;
  --border-end: #222;
  --overflow-scroll-color: #343434;
}

.grid-pattern {
  background: var(--grid-bg-color);
  background-image: linear-gradient(35deg,
      var(--grid-gradient-start),
      80%,
      var(--grid-gradient-end)),
    linear-gradient(var(--grid-line-color) 1px, transparent 0),
    linear-gradient(90deg, var(--grid-line-color) 1px, transparent 0);
  background-size: 100% 100%, 2vw 2vw, 2vw 2vw;
}

.border-gradient {
  border-image: linear-gradient(var(--border-start), var(--border-end)) 30;
  border-width: 4px;
  border-style: solid;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--overflow-scroll-color);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #979797;
}
